[submodule "libvmi"]
	path = libvmi
	url = https://github.com/0xf4b1/libvmi
	ignore = dirty
[submodule "dwarf2json"]
	path = dwarf2json
	url = https://github.com/tklengyel/dwarf2json
	ignore = dirty
[submodule "AFL"]
	path = AFL
	url = https://github.com/google/AFL
	ignore = dirty
[submodule "capstone"]
	path = capstone
	url = https://github.com/aquynh/capstone
	ignore = dirty
[submodule "AFLplusplus"]
	path = AFLplusplus
	url = https://github.com/AFLplusplus/AFLplusplus
	ignore = dirty
	shallow = true
